/* begin neon type */
@keyframes neon-text {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f90, 0 0 70px #f90, 0 0 80px #f90, 0 0 100px #f90, 0 0 150px #f90;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f90, 0 0 35px #f90, 0 0 40px #f90, 0 0 50px #f90, 0 0 75px #f90;
  }
}
@keyframes neon-box {
  0% {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f90, 0 0 70px #f90, 0 0 80px #f90, 0 0 100px #f90, 0 0 150px #f90;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f90, 0 0 35px #f90, 0 0 40px #f90, 0 0 50px #f90, 0 0 75px #f90;
  }
}
/* end neon type */
/* begin 3d cube */
@keyframes spincube {
  from, to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
/* end 3d cube */
/* begin keyframes */
@keyframes rotate-x {
  /* from {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  } */
  /* from is assumed */
  to {
    transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  }
  /* 50%, 100% {
      transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  } */
}
@keyframes rotate-y {
  /* from {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  } */
  to {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}
@keyframes rotate-z {
  /* from {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  } */
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
  }
}
/* end keyframes */
/* begin pulse01 */
@keyframes r1 {
  0% {
    box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 179, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px #333, 0 0 12px 14px #1affb3;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 179, 0);
  }
}
@keyframes r10 {
  0% {
    box-shadow: 0 0 8px 6px rgba(255, 255, 0, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(255, 255, 0, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #ff0, 0 0 12px 10px #333, 0 0 12px 14px #ff0;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(255, 255, 0, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(255, 255, 0, 0);
  }
}
@keyframes r2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 217, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #1affd9, 0 0 12px 10px #333, 0 0 12px 14px #1affd9;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 217, 0);
  }
}
@keyframes r3 {
  0% {
    box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 255, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #1affff, 0 0 12px 10px #333, 0 0 12px 14px #1affff;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 255, 0);
  }
}
@keyframes r4 {
  0% {
    box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 217, 255, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #1ad9ff, 0 0 12px 10px #333, 0 0 12px 14px #1ad9ff;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 217, 255, 0);
  }
}
@keyframes r5 {
  0% {
    box-shadow: 0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 179, 255, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #1ab3ff, 0 0 12px 10px #333, 0 0 12px 14px #1ab3ff;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 179, 255, 0);
  }
}
@keyframes r6 {
  0% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 140, 255, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #1a8cff, 0 0 12px 10px #333, 0 0 12px 14px #1a8cff;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 140, 255, 0);
  }
}
@keyframes r60 {
  0% {
    box-shadow: 0 0 8px 6px rgba(255, 153, 51, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(255, 153, 51, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #ff9933, 0 0 12px 10px #333, 0 0 12px 14px #ff9933;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(255, 153, 51, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(255, 153, 51, 0);
  }
}
/* end pulse01 */
/* begin pulse02 */
@keyframes pulse {
  0% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 0, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(255, 135, 0, 0);
  }
  10% {
    box-shadow: 0 0 8px 6px #fc8403, 0 0 12px 10px #333, 0 0 12px 14px #fc8403;
  }
  100% {
    box-shadow: 0 0 8px 6px rgba(255, 135, 0, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(255, 135, 0, 0);
  }
}
@keyframes pulse-hover {
  from {
    box-shadow: 0 0 8px 6px #fff, 0 0 12px 10px #333, 0 0 12px 14px #fff;
  }
  to {
    box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 255, 255, 0);
  }
}
/* end pulse02 */
/* begin icons */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* end icons */

/*# sourceMappingURL=animations.css.map */
