a {
    text-decoration: none;
}

#fading-images .flex-item[data-image-layout="square"] .tile {
    border: 1px solid #666;
}

#fading-images .flex-item[data-image-layout="square"] .image-holder img {
    transition: none;
}

#visualizer01 {
    background: #333;
}

#visualizer01 .player-controls {
    padding: 20px 10px;
}

#visualizer01 button {
    font-size: 14px;
    background: #fff;
    color: #666;
    border: 1px solid #666;
    outline: none;
    padding: 4px 8px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

#visualizer01 button:hover {
    background: #666;
    color: #fff;
}

#visualizer01 .display {
    width: 100%;
    height: 300px;
}

#visualizer01 #wave {

}

#visualizer01 i.fa {
    font-size: 32px;
}

/* Prevent the text contents of draggable elements from being selectable. */
#dragndrop [draggable]{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

#dragndrop .column {
    width: 280px;
    float: left;
    border: 1px solid #666;
    background-color: rgba(0,0,0,.1);
    margin: 5px 5px 5px 0;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    cursor: move;
}

#dragndrop .column .content {
    padding: 10px;
}

#dragndrop .column .treatment {
    box-shadow: none;
    border: 1px solid rgba(0,0,0,.5);
    margin-bottom: 5px
}

#dragndrop .column header {
    padding: 5px;
    background: #444;
    color: #fff;
    text-align: center;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
}

#dragndrop .column.over {
    border: 2px dashed #999;
}

@media (min-width: 978px) and (max-width: 1200px) {
    #dragndrop .column {
        width: 225px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #dragndrop .column {
        width: 170px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    #dragndrop .column {
        width: 130px;
    }
}

@media (max-width: 599px) {
    #dragndrop .column {
        width: 100%;
        float: none;
    }
}


#black-box .image-holder .filler {
    display: inline-block;
    position: relative;
    width: 100%;
    max-height: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    background: #222;
}

#black-box .image-holder img {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    width: auto !important;
    max-width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .25);
}

#square-images .flex-item {
    margin: 0;
    border: 1px solid #222;
}

#square-images .flex-row .flex-item {
    margin: 0;
}

#square-images .flex-row .flex-item:last-child {
    margin-right: 0;
}

#square-images .flex-item:after {
    content: "";
    float: left;
    display: block;
    padding-top: 100%;
}

#square-images .flex-item .tile {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#square-images .tile .info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    padding: 20px;
    background-image: linear-gradient(transparent, rgba(0,0,0,.6) 20%, rgba(0,0,0,1) 100%);
    color: #fff;
    font-size: 14px;
}

#square-images .tile .info h3,
#square-images .tile .info p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#square-images .tile .info a {
    color: #fff;
    text-decoration: none;
}

#square-images .flex-item .tile img {
    width: auto;
    height: 100%;
}

@media all and ( max-width: 720px ) {
    #square-images .flex-row {
        flex-direction: column;
    }
}


