.bubble {
	display: none;
	position: absolute;
	top: -16px;
	right: -19px;
	padding: 2px;
	background: #fff;
	border-radius: 3px;
	border: 1px solid #222;
}

.deep-dive-hover {
	position: relative;
}

