
#visualizer01 {
    background: #000;
}

#visualizer01 .player-controls {
    padding: 20px 10px;
}

#visualizer01 button {
    font-size: 14px;
    background: #fff;
    color: #666;
    border: 1px solid #666;
    outline: none;
    padding: 4px 8px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
}

#visualizer01 button:hover {
    background: #666;
    color: #fff;
}

#visualizer01 .display {
    width: 50%;
    height: 200px;
    border: 1px solid #fff;
}

#visualizer01.circle .display {
    width: 100%;
    height: 600px;
    border: none;
}

#visualizer01 #wave {

}

#visualizer01 i.fa {
    font-size: 32px;
}
