@import "animations.scss";

/* begin neon type */
/* https://codepen.io/FelixRilling/pen/qzfoc */

.neon-type .box {
    display: inline-block;
    margin: 60px;
    padding: 20px 40px;
    background-color: #222;
    border: 10px double rgba(255,153,0,.5);
    border-radius: 20px;
    animation: neon-box 1.5s ease-in-out infinite alternate;
	text-align: center;
	
	p {
		margin-bottom: 0;
		padding: 20px;
		color: #f90;
		font-family: Audiowide;
		font-size: 7em;
		animation: neon-text 1.5s ease-in-out infinite alternate;
	}
}
/* end neon type */

/* begin 3d cube */
.cube01 {
	.cubespinner {
		animation-name: spincube;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 12s;

		transform-style: preserve-3d;
		transform-origin: 60px 60px 0;

		div {
			position: absolute;
			width: 120px;
			height: 120px;
			border: 1px solid #ccc;
			background: rgba(255,255,255,0.8);
			color: #222;
			box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
			line-height: 120px;
			text-align: center;
			font-size: 100px;

			&.face1 {
				transform: translateZ(60px);
			}

			&.face2 {
				transform: rotateY(90deg) translateZ(60px);
			}

			&.face3 {
				transform: rotateY(90deg) rotateX(90deg) translateZ(60px);
			}

			&.face4 {
				transform: rotateY(180deg) rotateZ(90deg) translateZ(60px);
			}

			&.face5 {
				transform: rotateY(-90deg) rotateZ(90deg) translateZ(60px);
			}

			&.face6 {
				transform: rotateX(-90deg) translateZ(60px);
			}
		}
	}
}
/* end 3d cube */

/* begin keyframes */
.keyframes01 {
	.cont {
		position: relative;
		width: 200px;
		height: 200px;
		margin: 0 auto;
		border: 1px solid #fff;
		text-align: center;
		perspective: 600px;
	}

	.box {
		width: 100%;
		height: 100%;
		background: orange;
		opacity: .8;
		border: 1px solid #000;
		text-align: center;

		/* animation-delay: 1s; */
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-duration: 6s;
		transform-style: preserve-3d;
	}

	.rotate-x .box {
		animation-name: rotate-x;
		animation-delay: .5s;
	}

	.rotate-y .box {
		animation-name: rotate-y;
		animation-delay: 1s;
	}

	.rotate-z .box {
		animation-name: rotate-z;
		animation-delay: 1.5s;
	}

	.origin-top .box {
		transform-origin: top;
	}

	.origin-bottom .box {
		transform-origin: bottom;
	}

	.origin-left .box {
		transform-origin: left;
	}

	.origin-right .box {
		transform-origin: right;
	}
}
/* end keyframes */

/* begin functions */
.functions {
	.cont {
		position: relative;
		width: 100px;
		height: 100px;
		margin: 0 auto;
		border: 1px solid #fff;
		text-align: center;
		perspective: 600px;

		.box {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			background: orange;
			color: #fff;
			opacity: .8;
			border: 1px solid #000;
			text-align: center;
			transform-style: preserve-3d;
			transition: transform .3s;
		}
	}

	pre {
		margin-top: 20px;
		color: #000;
	}

	.rotate-x .box {
		transform: rotateX( 45deg );
	}

	.rotate-y .box {
		transform: rotateY(45deg);
	}

	.rotate-z .box {
		transform: rotateZ(45deg);
	}

	.translate-x .box {
		transform: translateX(100px);
	}

	.translate-y .box {
		transform: translateY(100px);
	}

	.translate-z .box {
		transform: translateZ(150px);
	}

	.origin-bottom .box {
		transform-origin: bottom;
	}

	.origin-top .box {
		transform-origin: top;
	}

	.origin-left .box {
		transform-origin: left;
	}

	.origin-right .box {
		transform-origin: right;
	}

	.origin-left-top .box {
		transform-origin: left top;
	}

	.origin-left-bottom .box {
		transform-origin: left bottom;
	}

	.origin-right-top .box {
		transform-origin: right top;
	}

	.origin-right-bottom .box {
		transform-origin: right bottom;
	}
}
/* end functions */

/* begin pulse01 */
/* https://codepen.io/Raphael/pen/fqweF */
.pulse01 article {
	/* width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer; */
	border: 1px solid #fff;
	align-self: center;
	justify-self: center;
    /* transition: all 0.2s; */
    
    .dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        /* cursor: pointer; */
        /* align-self: center;
        justify-self: center; */
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        transition: all 0.2s;
    }

    &:nth-child(1) .dot {
        background: #33ffbb;
        /* name duration delay timing-function iteration-count */
        /* these are also available - direction | fill-mode | play-state */
        animation: r1 2s 0s ease-out infinite;
    }

    &:nth-child(7) .dot {
        background: #ff0;
        /* name duration delay timing-function iteration-count */
        /* these are also available - direction | fill-mode | play-state */
        animation: r10 2s 0s ease-out infinite;
    }
    
    &:nth-child(2) .dot {
        background: #33ffdd;
        animation: r2 2s 0.25s ease-out infinite;
    }

    &:nth-child(3) .dot {
        background: #33ffff;
        animation: r3 2s 0.5s ease-out infinite;
    }

    &:nth-child(4) .dot {
        background: #33ddff;
        animation: r4 2s 0.75s ease-out infinite;
    }

    &:nth-child(5) .dot {
        background: #33bbff;
        animation: r5 2s 1s ease-out infinite;
    }

    &:nth-child(6) .dot {
        background: #3399ff;
        animation: r6 2s 1.25s ease-out infinite;
    }

    &:nth-child(12) .dot {
        background: #ff9933;
        animation: r60 2s 1.25s ease-out infinite;
    }
}
/* end pulse01 */

/* begin pulse02 */
.pulse02 div {
	height: 40px;
	padding: 40px;

	.circle {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		cursor: pointer;
		background: #333;
		/* name duration delay timing-function iteration-count */
		/* these are also available - direction | fill-mode | play-state */
		animation: pulse 2.5s 0s ease-out infinite;
		/* transition: all 0.2s; */

		&:hover {
			animation: pulse-hover 0.5s 0s ease-out infinite;
		}
	}

	&:nth-child(3) .circle,
	&:nth-child(5) .circle {
		animation-delay: 0.25s;
	}

	&:nth-child(2) .circle,
	&:nth-child(6) .circle {
		animation-delay: 0.5s;
	}

	&:nth-child(1) .circle,
	&:nth-child(7) .circle {
		animation-delay: 0.75s;
	}
}
/* end pulse02 */

/* begin pulse03 */
/* https://codepen.io/Raphael/pen/fqweF */
.pulse03 {
	.circle {
		width: 20px;
		height: 20px;
		margin: 0 auto;
		border-radius: 50%;
		cursor: pointer;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;

		&:nth-child(1) {
			background: #33ffbb;
			/* name duration delay timing-function iteration-count */
			/* these are also available - direction | fill-mode | play-state */
			animation: r1 2s 0s ease-out infinite;

			&:hover {
				background: #ff3333;
				animation: r20 0.5s 0.4s ease-out infinite;
			}
		}

		&:nth-child(2) {
			background: #33ffdd;
			animation: r2 2s 0.25s ease-out infinite;
		}

		&:nth-child(3) {
			background: #33ffff;
			animation: r3 2s 0.5s ease-out infinite;
		}

		&:nth-child(4) {
			background: #33ddff;
			animation: r4 2s 0.75s ease-out infinite;
		}

		&:nth-child(5) {
			background: #33bbff;
			animation: r5 2s 1s ease-out infinite;
		}

		&:nth-child(6) {
			background: #3399ff;
			animation: r6 2s 1.25s ease-out infinite;

			&:hover {
				background: #ff9933;
				animation: r26 0.5s 0.4s ease-out infinite;
			}
		}
	}
}
/* end pulse03 */

/* begin icons */
.rotate .social i {
    display: inline-block;
    margin: 5px;
    padding-top: 10px;
    width: 42px;
    height: 42px;
    background-image: linear-gradient(to top, #04befe, #4481eb);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
    font-size: 24px;
    text-align: center;
    transition: transform .5s;
	cursor: pointer;
	
	&:hover {
		transform: rotate(90deg);
	}
}

.pulse .icon-holder {
    display: inline-block;
    margin: 5px;
    padding-top: 8px;
    width: 42px;
    height: 42px;
    background-image: linear-gradient(to top, #04befe, #4481eb);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
    font-size: 24px;
    text-align: center;
    cursor: pointer;
	transition: transform .5s;
	
	&:hover {
		animation: pulse .5s 0s ease-out;
	}
}
/* end icons */