html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.flex-container {
	position: relative;
	max-width: 100%;
	margin: 0;
	padding: 50px 20px 0;
	overflow: hidden;
}

.flex-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-item {
	flex: 1 1 0;
}

.flex-item[data-weight="2"]{
	flex: 2 2 0;
}

.timeline .module {
	background: white;
	position: relative;
	padding: 20px;
	margin-right: 4%;
	margin-bottom: 4%;
	border: 1px solid #dedede;
	box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
}

.timeline .module.embed {
	border: none;
	box-shadow: none;
}

.timeline .module:nth-child(odd) {
	margin-bottom: 25%;
}

.timeline .module:nth-child(even) {
	margin-top: 25%;
	margin-right: 0;
}

.flex-row:last-child .module:nth-child(even) {
	margin-bottom: 0;
}
 
.come-in {
	opacity: 0;
}

.come-in:nth-child(odd) {
	transform: translateX(-350px);
	animation: come-in 0.5s ease forwards;
}

.come-in:nth-child(even) {
	transform: translateX(350px);
	animation: come-in 0.8s ease forwards;
}

.already-visible {
	transform: translateX(0);
	transform: translateY(0);
	animation: none;
}

@keyframes come-in {
	to {
		transform: translateX(0);
		transform: translateY(0);
		opacity: 1;
	}
}





h4 {
    margin: 0 0 10px;
}

i:hover {
    opacity: 1;
}


.image-holder {
    position: relative;
    margin-bottom: 10px;
    background: #666;
    border: 1px solid #666;
}

.image-holder .filler {
    display: block;
    width: 100%;
    max-height: 100%;
    padding-bottom: 59.5%;
    overflow: hidden;
}

.image-holder .filler img {
    display: block;
    position: absolute;
    top: 25%;
    left: 50%;
    width: auto !important;
    max-width: 100% !important;
    height: auto !important;
    max-height: 100% !important;
    -webkit-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
    text-align: center;
}

.content-holder {
    margin: 0;
    font-weight: 300;
}

.timeline .bar {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2px;
	width: 4px;
	height: 100%;
	background: #666;
}

.timeline .indicator {
	position: absolute;
	width: 100px;
}

.timeline .module:nth-child(odd) .indicator {
	top: 25%;
	right: -108px;
}

.timeline .module:nth-child(even) .indicator {
	bottom: 25%;
	left: -104px;
}

.timeline .circle {
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	background: #666;
	border-radius: 50%;
	text-align: center;
}

.timeline .timeStamp {
	display: block;
	float: left;
    margin-bottom: 0;
    padding: 3px;
    white-space: nowrap;
    color: #999;
    font-size: 16px;
    font-weight: 300;
}

.timeline .module:nth-child(even) .circle,
.timeline .module:nth-child(even) .timeStamp {
	float: right;
}

i {
	margin-top: 5px;
	color: #fff;
}

.timeline twitterwidget {
	width: auto !important;
}

.timeline .module.embed iframe,
.timeline .image-holder iframe {
	width: 100% !important;
}


.timeline-container {
	position: relative;
}

