/* begin neon type */
body {
    background-color: #333;
    color: #fff;
}

@keyframes neon-text {
    0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f90, 0 0 70px #f90, 0 0 80px #f90, 0 0 100px #f90, 0 0 150px #f90;
    }
    100% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f90, 0 0 35px #f90, 0 0 40px #f90, 0 0 50px #f90, 0 0 75px #f90;
    }
  }
  @keyframes neon-box {
    0% {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f90, 0 0 70px #f90, 0 0 80px #f90, 0 0 100px #f90, 0 0 150px #f90;
    }
    100% {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f90, 0 0 35px #f90, 0 0 40px #f90, 0 0 50px #f90, 0 0 75px #f90;
    }
  }
  /* end neon type */

  /* https://codepen.io/FelixRilling/pen/qzfoc */
.neon-type .box {
    display: inline-block;
    margin: 60px;
    padding: 20px 40px;
    background-color: #222;
    border: 10px double rgba(255, 153, 0, 0.5);
    border-radius: 20px;
    animation: neon-box 1.5s ease-in-out infinite alternate;
    text-align: center;
  }
  .neon-type .box p {
    margin-bottom: 0;
    padding: 20px;
    color: #f90;
    font-family: Audiowide;
    font-size: 7em;
    animation: neon-text 1.5s ease-in-out infinite alternate;
  }