.icon-holder {
    display: inline-block;
    margin: 5px;
    padding-top: 8px;
    width: 42px;
    height: 42px;
    background-image: linear-gradient(to top, #04befe, #4481eb);
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    transition: transform .5s;
}

.icon-holder:hover {
    animation: pulse .5s 0s ease-out;
}

@keyframes pulse {
	0% {
		transform: scale(1.0);
	}
	30% {
        transform: scale(0.7);
	}
	60% {
        transform: scale(1.5);
        opacity: .75;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
	}
}
