html {
  box-sizing: border-box;
  height: 100%;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 0.875rem;
}

@keyframes rotate-x {
  /* from is assumed */
  to {
    transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  }
}

@keyframes rotate-y {
  to {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(0deg);
  }
}

@keyframes rotate-z {
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
  }
}

/* begin icons */
.rotate .social i {
  display: inline-block;
  margin: 5px;
  padding-top: 10px;
  width: 42px;
  height: 42px;
  background-image: linear-gradient(to top, #04befe, #4481eb);
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
  font-size: 24px;
  text-align: center;
  transition: transform 0.5s;
  cursor: pointer;
}

.rotate .social i:hover {
  transform: rotate(90deg);
}

.pulse .icon-holder {
  display: inline-block;
  margin: 5px;
  padding-top: 4px;
  width: 42px;
  height: 42px;
  background-image: linear-gradient(to top, #04befe, #4481eb);
  color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.5s;
}

.pulse .icon-holder:hover {
  animation: pulse 0.5s 0s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.7);
  }
  60% {
    transform: scale(1.5);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}