#timeline-scrubber {
  background-color: rgba(0, 0, 0, 0.74);
  position: absolute;
  padding: 1em 5em 1.3em;
  left: 0;
  width: 100%;
  top: 100%;
  max-width: 100%;
  vertical-align: middle;
}
#timeline-scrubber .noUi-target {
  background: transparent;
  border: none;
  box-shadow: none;
  width: 88%;
  display: inline-block;
  transform: translateY(73%);
}
#timeline-scrubber .noUi-base {
  height: 2px;
  background-color: #fff;
  margin: 0 auto;
  max-width: 96%;
}
#timeline-scrubber .noUi-base:before, #timeline-scrubber .noUi-base:after {
  content: "";
  height: 2px;
  background-color: #fff;
  position: absolute;
  width: 100px;
  top: 0;
}
#timeline-scrubber .noUi-base:before {
  left: -2.2%;
}
#timeline-scrubber .noUi-base:after {
  right: -2.2%;
}
#timeline-scrubber .start-label {
  text-transform: uppercase;
  font-size: emCalc(14);
  text-align: right;
  display: inline-block;
  border-right: 2px solid #fff;
  font-family: Arial;
  color: #fff;
  padding-right: 10px;
  width: 5%;
}
#timeline-scrubber .end-label {
  text-transform: uppercase;
  font-size: emCalc(14);
  text-align: left;
  display: inline-block;
  border-left: 2px solid #fff;
  font-family: Arial;
  color: #fff;
  padding-left: 10px;
  width: 5%;
}
