body {
  background-color: #333;
  color: #fff;
}

/* https://codepen.io/Raphael/pen/fqweF */
.pulse01 article {
    border: 1px solid #fff;
    align-self: center;
    justify-self: center;
  }
  .pulse01 article .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .pulse01 article:nth-child(1) .dot {
    background: #33ffbb;
    /* name duration delay timing-function iteration-count */
    /* these are also available - direction | fill-mode | play-state */
    animation: r1 2s 0s ease-out infinite;
  }
  .pulse01 article:nth-child(7) .dot {
    background: #ff0;
    /* name duration delay timing-function iteration-count */
    /* these are also available - direction | fill-mode | play-state */
    animation: r10 2s 0s ease-out infinite;
  }
  .pulse01 article:nth-child(2) .dot {
    background: #33ffdd;
    animation: r2 2s 0.25s ease-out infinite;
  }
  .pulse01 article:nth-child(3) .dot {
    background: #33ffff;
    animation: r3 2s 0.5s ease-out infinite;
  }
  .pulse01 article:nth-child(4) .dot {
    background: #33ddff;
    animation: r4 2s 0.75s ease-out infinite;
  }
  .pulse01 article:nth-child(5) .dot {
    background: #33bbff;
    animation: r5 2s 1s ease-out infinite;
  }
  .pulse01 article:nth-child(6) .dot {
    background: #3399ff;
    animation: r6 2s 1.25s ease-out infinite;
  }
  .pulse01 article:nth-child(12) .dot {
    background: #ff9933;
    animation: r60 2s 1.25s ease-out infinite;
  }

  .pulse02 div {
    height: 40px;
    padding: 40px;
  }
  .pulse02 div .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    background: #333;
    /* name duration delay timing-function iteration-count */
    /* these are also available - direction | fill-mode | play-state */
    animation: pulse 2.5s 0s ease-out infinite;
    /* transition: all 0.2s; */
  }
  .pulse02 div .circle:hover {
    animation: pulse-hover 0.5s 0s ease-out infinite;
  }
  .pulse02 div:nth-child(3) .circle, .pulse02 div:nth-child(5) .circle {
    animation-delay: 0.25s;
  }
  .pulse02 div:nth-child(2) .circle, .pulse02 div:nth-child(6) .circle {
    animation-delay: 0.5s;
  }
  .pulse02 div:nth-child(1) .circle, .pulse02 div:nth-child(7) .circle {
    animation-delay: 0.75s;
  }

  .pulse03 .circle {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .pulse03 .circle:nth-child(1) {
    background: #33ffbb;
    /* name duration delay timing-function iteration-count */
    /* these are also available - direction | fill-mode | play-state */
    animation: r1 2s 0s ease-out infinite;
  }
  .pulse03 .circle:nth-child(1):hover {
    background: #ff3333;
    animation: r20 0.5s 0.4s ease-out infinite;
  }
  .pulse03 .circle:nth-child(2) {
    background: #33ffdd;
    animation: r2 2s 0.25s ease-out infinite;
  }
  .pulse03 .circle:nth-child(3) {
    background: #33ffff;
    animation: r3 2s 0.5s ease-out infinite;
  }
  .pulse03 .circle:nth-child(4) {
    background: #33ddff;
    animation: r4 2s 0.75s ease-out infinite;
  }
  .pulse03 .circle:nth-child(5) {
    background: #33bbff;
    animation: r5 2s 1s ease-out infinite;
  }
  .pulse03 .circle:nth-child(6) {
    background: #3399ff;
    animation: r6 2s 1.25s ease-out infinite;
  }
  .pulse03 .circle:nth-child(6):hover {
    background: #ff9933;
    animation: r26 0.5s 0.4s ease-out infinite;
  }

  /* begin pulse01 */
@keyframes r1 {
    0% {
      box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 179, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #1affb3, 0 0 12px 10px #333, 0 0 12px 14px #1affb3;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 179, 0);
    }
  }
  @keyframes r10 {
    0% {
      box-shadow: 0 0 8px 6px rgba(255, 255, 0, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(255, 255, 0, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #ff0, 0 0 12px 10px #333, 0 0 12px 14px #ff0;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(255, 255, 0, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(255, 255, 0, 0);
    }
  }
  @keyframes r2 {
    0% {
      box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 217, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #1affd9, 0 0 12px 10px #333, 0 0 12px 14px #1affd9;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 217, 0);
    }
  }
  @keyframes r3 {
    0% {
      box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 255, 255, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #1affff, 0 0 12px 10px #333, 0 0 12px 14px #1affff;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 255, 255, 0);
    }
  }
  @keyframes r4 {
    0% {
      box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 217, 255, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #1ad9ff, 0 0 12px 10px #333, 0 0 12px 14px #1ad9ff;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 217, 255, 0);
    }
  }
  @keyframes r5 {
    0% {
      box-shadow: 0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 179, 255, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #1ab3ff, 0 0 12px 10px #333, 0 0 12px 14px #1ab3ff;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(26, 179, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 179, 255, 0);
    }
  }
  @keyframes r6 {
    0% {
      box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(26, 140, 255, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #1a8cff, 0 0 12px 10px #333, 0 0 12px 14px #1a8cff;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(26, 140, 255, 0);
    }
  }
  @keyframes r60 {
    0% {
      box-shadow: 0 0 8px 6px rgba(255, 153, 51, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(255, 153, 51, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #ff9933, 0 0 12px 10px #333, 0 0 12px 14px #ff9933;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(255, 153, 51, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(255, 153, 51, 0);
    }
  }
  /* end pulse01 */
  /* begin pulse02 */
  @keyframes pulse {
    0% {
      box-shadow: 0 0 8px 6px rgba(255, 135, 0, 0), 0 0 0px 0px #333, 0 0 0px 0px rgba(255, 135, 0, 0);
    }
    10% {
      box-shadow: 0 0 8px 6px #fc8403, 0 0 12px 10px #333, 0 0 12px 14px #fc8403;
    }
    100% {
      box-shadow: 0 0 8px 6px rgba(255, 135, 0, 0), 0 0 0px 40px #333, 0 0 0px 40px rgba(255, 135, 0, 0);
    }
  }
  @keyframes pulse-hover {
    from {
      box-shadow: 0 0 8px 6px #fff, 0 0 12px 10px #333, 0 0 12px 14px #fff;
    }
    to {
      box-shadow: 0 0 8px 6px rgba(255, 255, 255, 0), 0 0 4px 40px #333, 0 0 4px 41px rgba(255, 255, 255, 0);
    }
  }
  /* end pulse02 */
  /* begin icons */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(0.7);
    }
    60% {
      transform: scale(1.5);
      opacity: 0.75;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  /* end icons */