.gradient {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	background-image: radial-gradient(#fff, #f06d06);
}

.gradient.one {
	background-image: radial-gradient(circle, #fff, #f06d06);
}

.gradient.two {
	background-image: radial-gradient(circle closest-side, #fff, #f06d06);
}

.gradient.three {
	background-image: radial-gradient(circle at top right, #fff, #f06d06);
}

.gradient.four {
	background: repeating-radial-gradient(circle closest-side, #f06d06, #fff 10%, #f06d06 25%, #f06d06 30%);
}



/* https://developer.mozilla.org/en-US/docs/Web/CSS/repeating-radial-gradient */
/* .gradient.repeat {
	background: repeating-radial-gradient(circle closest-side, orange, yellow 10%, orange 25%, orange 30%);
} */




